@import '../../styles/var';

.main {
  margin: 2rem auto;
  width: 98%;
  background: #fff;
  // padding: 1rem;
  box-shadow: 0 0 7px rgba(0, 0, 0, .2);

  &__items {
    width: 100%;

    &--loading, &--error {
      padding: 2rem;
      text-align: center;
      font-size: 2em;
    }

    &--list,
    &--header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      border-bottom: 1px solid #eee;
      position: relative;

      li {
        width: 100%;
        list-style: none;
        ;
      }
    }

    .list--stock,
    .list--price {
      text-align: center;
      width: 100%;
    }

    .list--options {
      text-align: end;
      width: 10px;
    }

    &--list {
      color: #333000;
      font-size: 1.2em;
    }

    &--header {
      background: #2c2c2c;
      color: #eeeeee;
      text-transform: uppercase;
      font-weight: bold;
      // letter-spacing: 1.2px;
    }
    
    &--list:hover {
      background: #eee;
    }
  }
}