@import '../../styles/var';

.main {
  // border: 1px solid red;
  width: 90%;
  margin: 2rem auto;

  .main__items {
    border: 1px solid $secondary;
    padding: 1rem;

    .items--item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;
      padding: .5rem;
      border: 1px solid #c7c3b777;
      border-radius: 5px;
    }
  }
}