.modal {
  position: absolute;
  top: 35px;
  right: 35px;
  width: 100px;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: .2rem .5rem;
  box-shadow: 0 0 4px rgba(0,0,0,.3);

  p {
    text-transform: uppercase;
    margin: .5rem 0;
    padding: .2rem .5rem;

    &:hover {
      background-color: #eee;
      border-radius: 5px;
    }
  }

  .delete {
    color: red;
  }
}