.header {
  width: 100%;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 0 7px rgba(0,0,0,.2);

  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__title {
      color: #333;
      font-size: 1.8em;
    }

    .header__btn {
      background-color: #16941c;
      color: #eee;
      border-radius: 5px;
      border-color: #16941c;
      font-size: 1.3em;

      &:hover {
      opacity: .9; 
      }
    }
  }
}