.sidebar {
  height: 100vh;
  width: 50px;
  position: fixed;
  background: #222222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sidebar__icons {
    margin: 0 auto;

    a, p {
      display: block;
      margin: 2rem auto;
      color: #8b8b88;
      position: relative;

      .push {
        width: 5px;
        height: 5px;
        background-color: red;
        border-radius: 50%;
        position: absolute;
        top: -5px;
      }

      &:hover {
        color: #eee;
      }
    }
  }
}