.search {
  width: 100%;
  margin: 1.5rem auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  
  input {
    padding: .5rem 1rem;
    border: none;
    color: #333;
    width: 100%;
  }

  span {
    width: 10%;
    text-align: center;
  }
}